
.grid {
  float:left;
  margin: 60px 0 0 60px;
}
.grid td {
  border: 2px solid #999;
  width: 30px;
  height: 30px;
}
.grid .enemy.my_turn td:hover {
  background-color: #0ccc1c;
}
.hit {
  background-color: rgb(255, 0, 0);
}
.miss {
  background-color: black;
}
.ship {
  background-color: #999;
}

